.sform{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    
    form{
    border: 3px solid rgb(138, 134, 134);
    }
    
    input[type=text], input[type=password], input[type=email], input[type=number]{
    border-radius:20px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #181717;
    box-sizing: border-box;
    }
    
    input[type="submit"] {
        background-color: #4CAF50;
        border-radius: 50px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        padding: 14px 20px;
        margin: 8px 0;
        cursor: pointer;
        width: 50%;
      }
    
    
    .form-group{
    background-color: rgba(89, 85, 95, 0.212);
    height: auto;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    }
    
    
    
    body{
        background-image: url(Sidehustle.jpg);
    
    
    } 
      input[type="submit"]:hover {
        background-color: #728372;
      }
       
      input[type="submit"]:active {
        background-color: #22ad27;
      }
      
      input[type="submit"]:focus {
        background-color: #3b503c;
      }
    
      @media screen and (max-width: 500px) {
        .sform{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
    
        form{
          border: 3px solid rgb(250, 250, 250);
        }
        
        input[type=text], input[type=password], input[type=email], input[type=number]{
          border-radius:20px;
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #181717;
          box-sizing: border-box;
        }
    }